language: ruby

rvm: 
  - "1.9.3"
before_install:
  - gem update --system 2.2.0
  - gem --version
script:
  - git clone https://github.com/YaroSpace/rag.git rag
  - cd rag
  - git checkout develop
  - BUNDLE_GEMFILE=Gemfile
  - bundle install
  - cd ..
  - BUNDLE_GEMFILE=Gemfile
  - bundle exec cucumber
